<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654482488376-sqehpkul3ui4c9sk0anpllu3k9conmol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654482488376-sqehpkul3ui4c9sk0anpllu3k9conmol</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUJT-FC0_5JF5cjXOspuMVitSQf6-Y5U</string>
	<key>GCM_SENDER_ID</key>
	<string>654482488376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sgcarteraApp</string>
	<key>PROJECT_ID</key>
	<string>sgcc-57fde</string>
	<key>STORAGE_BUCKET</key>
	<string>sgcc-57fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654482488376:ios:0e7d77d188e7ae09583acd</string>
	<key>DATABASE_URL</key>
	<string>https://sgcc-57fde.firebaseio.com</string>
</dict>
</plist>